// Primary colors

$violet: #5964E0;
$violet-light: #939BF4;

$dark: #19202D;
$dark-midnight: #121721;

//Secondary colors

$white: #FFFFFF;

$gray: #9DAEC2;
$gray-light: #F4F6F8;
$gray-dark: #6E8098;